* {
    box-sizing: border-box;
}

main {
    width: 1366px;
    height: 2000px;
    background-color: whitesmoke;
    margin: 0 auto;
}

header {
    width: 1366px;
    height: 200px;
    color: rgb(255, 235, 183);
    text-align: center;
    font-family: "Poppins", sans-serif;
    background-color: rgb(195, 174, 214);
    background-image: linear-gradient(to bottom right, rgb(195, 174, 214), rgb(255, 191, 134));
    padding-top: 10px;
    text-shadow: -1px 2px 0px rgb(238, 5, 109);
}

nav {
    width: 1366px;
    height: 50px;
    background-color: rgb(238, 5, 109);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
    font-family: "Poppins", sans-serif;
    transition: 1s;
}

nav a:hover {
    background-color: rgb(153, 4, 71);
    transform: scale(1.2);
}

section {
    width: 1366px;
    height: 1500px;
    text-align: center;
    background-color: rgb(247, 247, 247);
}

section .bienvenida {
    font-size: 90px;
}

section .Descripcion {
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

section h1 {
    font-size: 50px;
}

.section .mapa {
    text-align: center;
}

section .evento {
    width: 1300px;
    height: 350px;
    margin-left: 33px;
    margin-top: 20px;
    float: left;
    overflow: hidden; 
}

.evento .foto {
    width: 400px;
    height: 350px;
    float: left;
    text-align: center;
    margin-left: 33px;
}

.evento .foto img {
    max-width: 100%;
    height: auto; 
}

.evento h1 {
    color: rgb(74, 74, 74);
    text-shadow: -1px 2px 0px rgb(76, 81, 109);
}

.evento .texto {
    width: 800px;
    height: 350px;
    float: left;
    margin-left: 33px;
    padding: 20px;
    font-family: "Merriweather", serif;
    color: rgb(95, 95, 95);
    background-color: rgb(232, 232, 232);
}

footer {
    width: 1366px;
    height: 250px;
    padding: 30px;
    background-color: rgb(95, 95, 95);
    align-items: center;
    overflow: hidden;
}

footer a {
    color: rgb(247, 247, 247);
    text-decoration: none;
    padding: 15px;
    font-family: "Poppins", sans-serif;
    display: table-footer-group;
}

footer a:hover {
    background-color: rgb(66, 66, 66);
    transform: scale(1.2);
}
